/* Стили для всего сайта about.html*/
body {
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e0d0d073;
  color: white;
  padding: 10px 0px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}


.container {
  display: flex;
}

img {
  height: 750px;
  width: 750px;
}

li {
  display: inline;
  margin-right: 10px;
  background-color: white;
  color: #121212;
  text-align: center;
}

footer {
  background-color: #e0d0d073;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.li1 {
  /* margin-right: 500px; */
  margin-left: 150px;
}

.li2 {
  margin-left: 150px;
}

.li3 {
  margin-left: 150px;
  margin-right: 200px;
}

.li4 {
  margin-left: 500px;
}
