/* Стили для всего сайта */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0; 
    background-color: #e0d0d073;
}

header {
    background-color: #1a1919;
    color: white;
    padding: 5px 0px;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0; 
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;
}

/* footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
} */

/* #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
} */

/* .product {
    background-color: white;
    border: 1px solid #ddd;
    width: 250px;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* .product img {
    width: 100%;
    height: auto;
} */

/* .product h3 {
    margin: 10px 0;
} */

/* .product p {
    font-size: 18px;
    color: #333;
} */
